
.AppointmentBooked{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url(../public/AppointmentBookedCss.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vmin;

}

