.contact{
    text-align: center;
}

.Header{
    height: 30px;
    margin: auto;
    color: #ffea00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text{
    color: #ffea00;
}

.icons{
    margin: 0px;
    padding: px;
}

.link{
    margin: 2px;
    padding: 2px;
}