.Homepage{
    text-align: center;
    display: block;
    justify-content: center;
}

.footer{
    text-align: right;
    margin: 30px;
    padding: 9px;
}

.react-player{
    margin: 9px;
    padding: 9px;
}
